body, html{
  height:100%;
  background-image: url('imgs/dancefloor.jpg');
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .massMovement{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.green{
  border:10px solid #66BB6A;
}
.streetFighter{
  width: 100px;
  height: 100px;
  background-size: contain;
  position: relative;
}
.sFighter0{
  background-image: url('imgs/street-fighter/0-bison.png');
}
.sFighter1{
  background-image: url('imgs/street-fighter/1-chun.png');
}
.sFighter2{
  background-image: url('imgs/street-fighter/2-ken.png');
}
.sFighter3{
  background-image: url('imgs/street-fighter/3-ryu.png');
}

@keyframes alpha {
  0% {left: 0px;},
  100% {left: 50px;}
}

@keyframes bravo {
  0% {left: 50px;},
  100% {left: 0px;}
}

.alphaFighter{
  animation-name: alpha;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
