body, html{
  height:100%;
  background-image: url('imgs/dancefloor.jpg');
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .massMovement{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: linear;
  transition-duration: 1s;
}
.green{
  border:10px solid #66BB6A;
}
.grow{
  /*border:10px solid blue !important;*/
  transform: scale(2);
}
.streetFighter{
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  transition: linear;
  transition-duration: 0.5s;
}
.sFighter0{
  background-image: url('imgs/street-fighter/0-bison.png');
}

.sFighter1{
  background-image: url('imgs/street-fighter/1-chun.png');
  transform: scaleX(-1);
}

.sFighter2{
  background-image: url('imgs/street-fighter/2-ken.png');
}

.sFighter3{
  background-image: url('imgs/street-fighter/3-ryu.png');
}

.sFighter4{
  background-image: url('imgs/street-fighter/4.png');
}

.sFighter5{
  background-image: url('imgs/street-fighter/5.png');
  transform: scaleX(-1);
}

.sFighter6{
  background-image: url('imgs/street-fighter/6.png');
}

.sFighter7{
  background-image: url('imgs/street-fighter/7.gif');
}

.sFighter8{
  background-image: url('imgs/street-fighter/8.png');
}

.sFighter9{
  background-image: url('imgs/street-fighter/9.png');
  transform: scaleX(-1);
}

.samus{
  background-image: url('imgs/street-fighter/10.png');
}

.alpha{

}

.bravo{
  transform: scaleX(-1);
}

.leftFighter{
  margin-left: 50px;
}

.rightFighter{
  margin-left: -50px;
}

#buttons {
  margin-top: 25px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  float: right;
}

.button-wrapper {
  margin-bottom: 25px;
}

.niceButton {
  cursor: pointer;
  font-size:14px;
  min-height: 45px;
  min-width: 200px;
  float: right;
  color: #000898;
  border-radius: 5px;
  border-width: 0px;
  background-image: linear-gradient(to bottom, #ffea00, #ff2a00);
  margin: 0 5px;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

#icon {
  margin: 25px;
  max-width: 250px;
  cursor: pointer;
}

@keyframes rainbow {
  0% {border-color: #f80c12;},
  5% {border-color: #ee1100;},
  10% {border-color: #ff3311;},
  15% {border-color: #ff4422;},
  20% {border-color: #ff6644;},
  25% {border-color: #ff9933;},
  30% {border-color: #feae2d;},
  35% {border-color: #ccbb33;},
  40% {border-color: #d0c310;},
  45% {border-color: #aacc22;},
  50% {border-color: #69d025;},
  55% {border-color: #22ccaa;},
  60% {border-color: #12bdb9;},
  65% {border-color: #11aabb;},
  70% {border-color: #4444dd;},
  80% {border-color: #3311bb;},
  90% {border-color: #3b0cbd;},
  100% {border-color: #442299;},
}
